<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>News</title>
  </head>
  <body>
      <header class="mt-2">The News Times</header>
    <div class="container-fluid mt-4">
        <div class="row border row1">
          <div class="col-sm border">
            <div class="container mt-4 hd1 font-weight-bold">STUDENTS LEARNER HTML</div>
            <p class="mt-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam reprehenderit facilis laborum totam quaerat repellendus corrupti quas minus. Pariatur distinctio reprehenderit quibusdam, qui ex reiciendis amet natus fuga esse vel.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, ab. Praesentium rerum accusantium repudiandae dignissimos, consectetur esse eos officia, dolores, beatae facilis eius tenetur asperiores mollitia maxime nemo reprehenderit labore.</p>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, ab. Praesentium rerum accusantium repudiandae dignissimos, consectetur esse eos officia, dolores, beatae facilis eius tenetur asperiores mollitia maxime nemo reprehenderit labore.</p>
          </div>
          <div class="col-sm border hd2">
            <div class="container mt-4 hd1">BREAKING: Puppies Are Adorable</div>
            <img  class="img-fluid mt-4 " src="puppies.jpg">
            <div class="col-sm border mt-16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quo. Culpa voluptatem rerum nobis, delectus illum optio reprehenderit minus aliquam. Similique nulla blanditiis aperiam itaque consequuntur molestias deleniti sapiente cumque.</div>
          </div>
          <div class="col-sm border ">
            <div class="conatiner mt-4 hd1 font-weight-bold">CSS is Apparently a Thing</div>
            <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium tempore distinctio, laboriosam vitae asperiores, quisquam consequuntur doloremque dolorem, sed culpa aspernatur iure et obcaecati facilis fugit tempora assumenda sunt labore.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quisquam nulla nam eaque nemo dolor voluptatum, officia debitis! Repudiandae facilis fuga nam eaque neque molestias id aliquam, ab a dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam tenetur hic ipsum magnam voluptatem exercitationem voluptates delectus aliquam eius nihil! Iure reprehenderit magni ad asperiores alias doloremque quia? Ad, possimus.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid ">
        <div class="row  row1">
          <div class="col-lg-3 col-md-3 ">
            <div class="container  mt-2 hd1 font-weight-bold "> Boy likes Tutle</div>
            <p class="ml-2 mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis voluptatum commodi fuga explicabo error voluptates cupiditate rerum deleniti quia accusamus, iusto aperiam quam laborum corporis, nemo non, minus est magni.</p>
            <p class="ml-2 mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis voluptatum commodi fuga explicabo error voluptates cupiditate rerum deleniti quia accusamus, iusto aperiam quam laborum corporis, nemo non, minus est magni.</p>
          </div>
          <div class="col-lg-9 col-md-9 hd2">
            <div class="col-sm border pro font-weight-bold bg-primary"><p>Politcs</p></div>
            <div class="col-sm border pro font-weight-bold bg-success"><p>Technology</p></div>
            <div class="col-sm border pro font-weight-bold bg-danger"><p>Local</p></div>
            <div class="col-sm border pro font-weight-bold bg-light"><p>Opinion</p></div>
            <div class="col-sm border pro font-weight-bold bg-warning"><p>Sports</p></div>
        
        </div>
      </div>
</html>