<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Main Page</title>
</head>
<body>
  <h3><p class="d-flex justify-content-center mt-5 ">Select any Button</p></h3>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary mt-4 mr-4" href="/frontend" role="button">Frontend</a>
    <a class="btn btn-info mt-4" href="/backend" role="button">Backend</a>
  </div>
  
</body>
</html>
